POSTGRES_HOST=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=todo
DATABASE_URL="postgresql://admin:admin@postgres:5432/todo?schema=public"
DATABASE_URL_LOCAL="postgresql://admin:admin@localhost:6432/todo?schema=public"

JWT_SECRET=wlkfnlwefnlwefnlfwenewfnn43nf43oi4f
CORS_ORIGIN=http://localhost:5173

JWT_ACCESS_SECRET=wfnjnf4fn4fn43njfn4j3n3fnj
JWT_REFRESH_SECRET=ljwebfjwf44knf34nj4f3wejfef

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
TG_TOKEN=HAHHA
TG_BOT_NAME=name


AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_S3_BUCKET=asset
AWS_S3_ENDPOINT=http://localhost:9000
AWS_S3_PUBLIC_URL=http://localhost:9000/asset